.imgAbout{
    width: 90%;
    margin-left: 75px;
    border-radius: 25px;
    filter: contrast(0.6);
    margin-bottom: 25px;
    margin-top: -25px;
}

body{
    max-width: 1400px;
}

.footer{
    margin-top: 70px;
}

@media screen and (max-width: 1250px) {
    .bannerAbout{
        width: auto;
        margin-right: -60px;
    }
    .imgAbout{
        margin-left: 20px;
        margin-bottom: 25px;
        height: 200px;
        object-fit: cover;
    }
}

@media screen and (max-width: 700px) {
    .bannerAbout{
        width: auto;
        margin-right: 0px;
    }
    .imgAbout{
        margin: 0 auto;
        margin-left: 25px;
        border-radius: 15px;
        margin-bottom: 20px;
    }
}