
.home{
    /*text-align: -webkit-center;*/
    margin: 0;
    max-width: 1400px;
}

.cover{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.cover p{
    position: absolute;
    color: white;
    z-index: 1;
    margin-top: 85px;
    font-size: 38px;
    font-weight: 700;
}

.cover img{
    filter: contrast(0.7);
    border-radius: 20px;
    height: 223px;
}

.imgHome{
    width: 90%;
}

@media screen and (max-width: 700px) {
    .cover img{
      height: 110px;
    }
    .cover p {
        margin-top: 40px;
        font-size: 26px;
    }
}