.header {
    max-width: 1400px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    
  }


  @media screen and (max-width: 700px){
    img.App-logo{
    width: 115px;
    height: 40px;
  }
  .header{
    margin: auto;
  }
  li{
    font-size: 18px;
  }
}
