.navbar{   
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-family: 'Montserrat';
    color :#FF6060;
    max-width: 1400px;
    font-size: 20px;
}

a.header-nav{
    padding-left: 50px;
}

a{
    color: #FF6060; 
    font-size: larger;
    text-decoration: none;
  }

a:hover{
    text-decoration: underline;
}

