.card_container{
   display: grid;
   grid-template-columns: 370px 370px 370px;
   max-width: 1400px;
   background-color: #F6F6F6;
   margin-left: 75px;
   margin-right: 75px;
   border-radius: 25px;
   padding-top: 10px;
   place-content: center;
}

.card{
   margin: 25px;
   position: relative;
}

.card_overlay{
   background: linear-gradient(transparent,rgba(0,0,0,.5));
   height: 305px;
   width: 95%;
   position: absolute;
   z-index: 2;
   top: 0;
   border-radius: 10px;
}

.card img{
   width: 305px;
   height: 305px;
   margin-bottom: 20px;
   border-radius: 10px;
   object-fit: cover;
   filter: contrast(0.7);
   
}

.card p{
   position: absolute;
   top: 235px;
   left: 15px;
   color: white;
   z-index: 3;
}

@media screen and (max-width: 1275px) {
   .card_container{
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
   }
   .card_overlay{
      width: 100%;
   }
   .card img{
      width: 100%;
   }
   .card{
      margin: -10px 15px 0px 15px;
   }
   .card p {
      right: 10px;
      font-size: larger;
   }
}

@media screen and (max-width: 700px) {
   .card_container{
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
   }
   .card_overlay{
      width: 100%;
   }
   .card img{
      width: 100%;
   }
   .card{
      margin: -10px 15px 0px 15px;
   }
   .card p {
      right: 10px;
      font-size: larger;
   }
}
